body {
  background-image: url("https://i.pinimg.com/564x/4b/11/62/4b1162c99e073c1b38751cd7282fe5e1.jpg");
  background-size: cover;
}
.ag {
  color: #3B240B;
  font-size: 80px;
  text-align: center;
  text-shadow: 2px 3px #B45F04;
}

.pirapri {
  /*text-align: center;
  margin-top: 100px;*/
  display: flex;
}

.pirate {
  background-color:#3B240B;
  color: #B45F04;
  width: auto;
  height: 100px;
  font-size:20px;
  font-family: Seriff;
  border-radius: 10px;
  border: 1px solid #3B240B;
  margin-left: 10px;
  cursor: pointer;
}

.pirate:hover {
  background-color: #B45F04;
  border: 1px solid #3B240B;
  color: #3B240B;
}

/*https://i.pinimg.com/236x/1c/9f/82/1c9f82cddc404906114e77f19620d359.jpg*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/564x/20/7d/ef/207def45785d3ccacbb658c6851ace07.jpg");
  background-size: cover;
}
/* Modal Content/Box */
.modal-content {
  background-color: #61380B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color: #190B07;
  border: 1px solid #61380B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  /* position: static; */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/564x/20/7d/ef/207def45785d3ccacbb658c6851ace07.jpg");
  background-size: cover;
}
/* Modal Content/Box */
.modal-content1 {
  background-color: #61380B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color: #190B07;
  border: 1px solid #61380B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/564x/20/7d/ef/207def45785d3ccacbb658c6851ace07.jpg");
  background-size: cover;
}
/* Modal Content/Box */
.modal-content2 {
  background-color: #61380B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color: #190B07;
  border: 1px solid #61380B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/564x/20/7d/ef/207def45785d3ccacbb658c6851ace07.jpg");
  background-size: cover;
}
/* Modal Content/Box */
.modal-content3 {
  background-color: #61380B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color: #190B07;
  border: 1px solid #61380B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/564x/20/7d/ef/207def45785d3ccacbb658c6851ace07.jpg");
  background-size: cover;
}
/* Modal Content/Box */
.modal-content4 {
  background-color: #61380B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color: #190B07;
  border: 1px solid #61380B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal5 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/564x/20/7d/ef/207def45785d3ccacbb658c6851ace07.jpg");
  background-size: cover;
}
/* Modal Content/Box */
.modal-content5 {
  background-color: #61380B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color: #190B07;
  border: 1px solid #61380B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal6 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/564x/20/7d/ef/207def45785d3ccacbb658c6851ace07.jpg");
  background-size: cover;
}
/* Modal Content/Box */
.modal-content6 {
  background-color: #61380B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color: #190B07;
  border: 1px solid #61380B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal7 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/564x/20/7d/ef/207def45785d3ccacbb658c6851ace07.jpg");
  background-size: cover;
}
/* Modal Content/Box */
.modal-content7 {
  background-color: #61380B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color: #190B07;
  border: 1px solid #61380B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  /* position: static; */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal8 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/564x/20/7d/ef/207def45785d3ccacbb658c6851ace07.jpg");
  background-size: cover;
}
/* Modal Content/Box */
.modal-content8 {
  background-color: #61380B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color: #190B07;
  border: 1px solid #61380B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  /* position: static; */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.barcos {
  margin-left: 25px;
}
.barcos1 {
  font-weight: bolder;
}
.pirataa {
  font-size: 15px;
}
.Ships {
  width: 200px;
  height: 200px;
}
.pirats {
  width: 250px;
  height: 200px;
}
.pirats2 {
  width: 200px;
  height: 200px;
}
.pirati {
  text-decoration: none;
  text-align: center;
}
/* .juego {
  padding-top: 20px;
} */
