body {
  background-image: url("https://i.pinimg.com/236x/74/3b/45/743b458f29569079bbc20e4209cba152.jpg")
}
nav {
  background-image: url("https://us.123rf.com/450wm/nikol85/nikol851708/nikol85170800012/83296545-textura-del-viejo-primer-verde-oscuro-del-papel-azul-estructura-de-un-cart%C3%B3n-denso-el-fondo-esmeralda-.jpg?ver=6");
  height: 100px;
  width: 1350px;
}

a {
  color:#0A1B2A
}
aside {
  background-image: url("https://us.123rf.com/450wm/panychev/panychev1608/panychev160800496/62331409-textura-en-blanco-de-m%C3%A1rmol-fondo-azul-oscuro-y-negro-abstracto-material.jpg?ver=6");
  width: 250px;
  height: 1200px;
  margin-top: 0px;
  float:left;
}
main {
  background-image: url("https://i.pinimg.com/236x/d7/98/0e/d7980e14651aa893133ef5c21e51b26e.jpg");
  margin-left: 250px;
  width: 1090px;
  height: 1180px;
}
section {
  background-color: #514005;
  margin-left: 160px;
  margin-top: 250px;
  width: 860px;
  height: 250px;
}
article {
  background-color:#5B4705;
  margin-left: 165px;
  margin-top: 140px;
  width: 860px;
  height:250px;
}
footer {
  background-color:#886A08;
  width:1350px;
  height: 97px;
}
img {
    margin-top: '20px'
}
h1 {
  padding-top: 15px;
  color:#886A08;
  font-size:50px;
}

.parrafo {
  padding-top: 30px;
}

.imagen {
  width: 6rem;
    height: 8rem;
    font-size: 6rem;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
}
