body {
  background-image: url("https://i.pinimg.com/236x/74/3b/45/743b458f29569079bbc20e4209cba152.jpg")
}
nav {
  background-image: url("https://us.123rf.com/450wm/nikol85/nikol851708/nikol85170800012/83296545-textura-del-viejo-primer-verde-oscuro-del-papel-azul-estructura-de-un-cart%C3%B3n-denso-el-fondo-esmeralda-.jpg?ver=6");
  height: 100px;
  width: 1340px;
}

a {
  color:#0A1B2A
}
aside {
  background-image: url("https://us.123rf.com/450wm/panychev/panychev1608/panychev160800496/62331409-textura-en-blanco-de-m%C3%A1rmol-fondo-azul-oscuro-y-negro-abstracto-material.jpg?ver=6");
  width: 250px;
  height: 1180px;
  margin-top: 0px;
  float:left;
}
main {
  background-image: url("https://i.pinimg.com/236x/d7/98/0e/d7980e14651aa893133ef5c21e51b26e.jpg");
  margin-left: 250px;
  width: 1090px;
  height: 1080px;
  padding-top: 100px;
}
section {
  background-color: #514005;
  margin-left: 160px;
  margin-top: 0px;
  width: 860px;
  height: 250px;
}
article {
  background-color:#5B4705;
  margin-left: 165px;
  margin-top: 140px;
  width: 860px;
  height:250px;
}
footer {
  background-color:#886A08;
  width:1350px;
  height: 97px;
}
img {
    margin-top: '20px'
}
h1 {
  padding-top: 15px;
  color:#886A08;
  font-size:50px;
}

.parrafo {
  padding-top: 30px;
  margin-top: 0px;
}

.imagen {
  width: 6rem;
    height: 8rem;
    font-size: 6rem;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.espadacostado {
  width: 14rem;
    height: 20rem;
    font-size: 6rem;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.envainada {
  width: 14rem;
    height: 20rem;
    font-size: 6rem;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/236x/8a/0c/80/8a0c801b653ba3039170d2a50b6079fe.jpg");
  background-size: contain;
}
/* Modal Content/Box */
.modal-content {
  background-color: #5F4C0B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #5F4C0B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modall {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/236x/4e/28/fa/4e28fa2ff2851cb77b1f310a16170dbc.jpg");/* Black w/ opacity */
  background-size: contain;
}

/* Modal Content/Box */
.modalcontent {
  background-color: #5F4C0B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #5F4C0B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modali {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/236x/a5/ef/4e/a5ef4ee59e01f47302492b785dda798a.jpg");/* Black w/ opacity */
  background-size: contain;
}

/* Modal Content/Box */
.modalicontent {
  background-color: #5F4C0B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #5F4C0B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.moodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/236x/7e/a9/0e/7ea90ef2eaebea8c7abec81527c395ba.jpg"); /* Black w/ opacity */
  background-size: contain;
}

/* Modal Content/Box */
.modalccontent {
  background-color: #5F4C0B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #5F4C0B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modaal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-image: url("https://i.pinimg.com/236x/8e/0e/87/8e0e87dd4e14330036af05993d5d1307.jpg");/* Black w/ opacity */
  background-size: contain;
}

/* Modal Content/Box */
.modaalcontent {
  background-color: #5F4C0B;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #5F4C0B;
  width: 60%; /* Could be more or less, depending on screen size */
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.botonmodal{
  background-color: #0A0A2A;
  color: #5F4C0B;
  font-size:20px;
  font-family: Seriff;
  border-radius: 10px;
  border-color: #070719;
  margin-left: 10px;
}
.posdata{
  font-style: italic;;
}
